<div class="wrapper">
  <trou-label text="Today">{{today}}</trou-label>

  <trou-label text="Driving Time" [secondText]="(timer.workingTime | async)" [type]="labelType.numeric"></trou-label>
  
  <!-- TODO move boolean statements somewhere -->
  <trou-btn (click)="startDriving()" [disabled]="(state | async) != timeStates.NotDrive">Start Driving</trou-btn>
  <trou-btn (click)="stopDriving()" [disabled]="(state | async) != timeStates.Drive">End Driving</trou-btn>
  
  <trou-label text="Pause Time" [secondText]="(timer.pauseTime | async)" [type]="labelType.numeric"></trou-label>
  
  <trou-btn (click)="startPause()" [disabled]="(state | async) != timeStates.Drive">Start Pause</trou-btn>
  <trou-btn (click)="stopPause()" [disabled]="(state | async) != timeStates.Pause">End Pause</trou-btn>

  <button class="reset-btn" (click)="reset()">
    <i class="fa fa-refresh" aria-hidden="true"></i> 
  </button>
</div>
