<form *ngIf="form" [formGroup]="form" (ngSubmit)="validateAndConfirmTime($event)" class="wrapper">

  <trou-label text="Today is:">{{today}}</trou-label>
  <trou-label text="Todays working time"></trou-label>

  <input-time-interval [parentForm]="form" inputName="working" title="Time working"></input-time-interval>
  <input-time-interval [parentForm]="form" inputName="break" title="Time break"></input-time-interval>
  
  <br />

  <trou-label [type]="labelType.numeric" text="Time worked" secondText="0:00"></trou-label>
  <trou-label [type]="labelType.numeric" text="Break time" secondText="0:00"></trou-label>

  <trou-btn  [isSubmit]="true">Confirm time</trou-btn>
  
</form>
