@use "../../shared/style/variables.scss" as var;
@import "../../shared/style/mixins.scss";

.center {
    display: flex;
    flex-direction: column;
    @include center-flex;

    gap: 25px;
}

form {
    display: flex;
    flex-direction: row;
}
