@use "../../../style/variables.scss" as var;
@import "../../../style/mixins.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    h2 {
        flex-grow: 1.3;
        font-weight: bold;
    }

    i {
        font-size: 2.5rem;
        justify-self: flex-start;
        flex-grow: 1;

        color: var.$trou-red-primary;
    }

    .header-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 100%;
    }

    p {
        box-sizing: border-box;

        width: 100%;
        min-height: 30%;
        max-height: 100%;

        padding: 10px;

        border: solid 1px grey;
        border-bottom: solid 2px var.$trou-blue-primary;
        border-radius: 10px;

        overflow-y: auto;
        overflow-x: hidden;

        text-align: justify;
        font-size: 1.2rem;

        text-align: center;
    }
}
