<div class="wrapper">
    <map-view></map-view>

    <trou-label text="Current: " [length]="labelLength.half" ></trou-label>
    <trou-label 
        [text]="this.currDelivery != null ? this.currDelivery.dstAddress.address : 'No Deliveries found'" 
        [textSize]="textSizes.medium" 
        [type]="labelTypes.link" 
        (btnClick)="goToNextDelivery()"
        [disabled]="this.currDelivery == null"
        >
    </trou-label>

    <trou-label text="Next: " [length]="labelLength.half"></trou-label>
    <trou-label 
        [text]="this.nextDelivery != null ? this.nextDelivery.dstAddress.address : 'No Deliveries found'" 
        [textSize]="textSizes.medium"
        [type]="labelTypes.link" 
        (btnClick)="goToCurrentDelivery()"
        [disabled]="this.nextDelivery == null"
        >
        
    </trou-label>

    <select [(ngModel)]="selectedMode" (change)="onChangeSelect()">
        <option *ngFor="let mode of routingModes" [value]="mode">{{mode.toString()}}</option>
    </select>

    <trou-btn class="btn center" (click)="goToDeliveryScan()" [type]="btnType.default">Scan Delivery</trou-btn>
</div>