@use "../../shared/style/variables.scss" as var;
@import "../../shared/style/mixins.scss";

:host {
    display: flex;
    @include center-flex;
    height: 100%;
    background-color: var.$trou-purple-secondary;
    padding-top: 15vh;
}

form {
    width: clamp(200px, 70%, 500px);
    height: 100%;
}

.trou-logo-group {
    display: flex;
    flex-direction: column;
    @include center-flex;

    color: var.$trou-purple-primary;
}
