@use "variables.scss" as var;

$padding: 20px;

@mixin center-flex {
    justify-content: center;
    align-items: center;
}

@mixin fill-flex {
    align-items: stretch;
    justify-content: flex-start;
}

@mixin trou-shadow {
    box-shadow: var.$trou-shadow-grey -2px 3px 7px -1px;
}

@mixin trou-shadow-inset {
    box-shadow: inset var.$trou-shadow-grey -2px 3px 7px -1px;
}

@mixin trou-input {
    @include trou-shadow;

    height: 35px;

    width: 100%;

    background-color: white;

    border: none;
    border-bottom: solid 2px var.$trou-purple-primary;
}

@mixin trou-prim-button($prim-color, $hover-color, $active-color) {
    width: clamp(200px, 50%, 300px);
    height: 50px;

    color: white;
    background-color: $prim-color;

    border: none;

    font-size: min(10vw, 1.2rem);
    @include button-effect($hover-color, $active-color);
}

@mixin button-effect($hover-color, $active-color) {
    &:hover {
        transition: 0.2s;
        background-color: $hover-color;
    }

    &:active {
        background-color: $active-color;
    }
}

@mixin menu-button {
    background-color: transparent;
    border: none;

    margin-left: $padding;
    font-size: 2rem;

    color: var.$trou-purple-primary;

    &:hover {
        color: var.$trou-purple-hover;
    }

    &:active {
        color: var.$trou-purple-active;
    }
}
