$trou-purple-primary: #9c4eff;
$trou-purple-secondary: #e8d6ff;
$trou-purple-hover: #a360fa;
$trou-purple-active: #bf8fff;

$trou-blue-primary: #0066ff;

$trou-red-primary: #ee0101;
$trou-red-hover: #fc4747;
$trou-red-active: #fd6868;

$trou-vibrant-green: rgb(8, 212, 8);

$trou-shadow-grey: rgba(128, 128, 128, 0.61);

$trou-purple-primary-filter: brightness(0) saturate(100%) invert(50%) sepia(54%) saturate(7495%) hue-rotate(247deg)
    brightness(100%) contrast(103%);
