.app {
  position: relative;

  // display: grid;
  // grid-template-rows: min(7vh) minmax(90vh, auto);
}

.header {
  position: sticky;
  top: 0;
}

.content {
  // grid-row: 2;

  // padding-top: 200px;

  min-height: 100vh;

  // margin-top: 5vh;
}
