
<div class="wrapper">
    <div class="select-wrapper" [ngClass]="sHidden? 'hide': ''">
        <trou-label [length]="labelLength.half" text="Map Mode:"></trou-label>
        <div class="select-btn-group">
            <select [(ngModel)]="selectedMode" (change)="onChangeSelect()">
                <option *ngFor="let mode of routingModes" [value]="mode">{{mode.toString()}}</option>
            </select>
            <button (click)="toggleSelect()" class="btn"><i class="fas fa-angle-left"></i></button>
        </div>
        <div class="legend">
            <span class="legend-entry">
                <img src="../../../../assets/map/map-marker-blue.png" alt="blue">
                <p>A package</p>
            </span>
            <span class="legend-entry">
                <img src="../../../../assets/map/map-marker-orange.png" alt="orange">
                <p>Depot</p>
            </span> 
            <span class="legend-entry">
                <img src="../../../../assets/map/map-marker-purple.png" alt="purple">
                <p>You</p>
            </span>
        </div>
    </div>

    <div class="map center" id="map">
    </div>
    <map-view-controls (center)="center()" (reload)="reload()" (zoomIn)="zoomIn()" (zoomOut)="zoomOut()"></map-view-controls>
</div>