@use "../../../shared/style/variables.scss" as var;
@import "../../../shared/style/mixins.scss";

.wrapper {
    position: relative;

    margin-bottom: 10%;

    .map {
        width: clamp(200px, 100%, 700px);
        aspect-ratio: 1/1;

        z-index: 0;

        iframe {
            width: 100%;
            height: 100%;
        }
    }

    .center {
        margin-left: auto;
        margin-right: auto;
    }

    .controls {
        width: clamp(200px, 100%, 700px);
    }

    .select-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        width: 100%;

        transition: 0.5s;

        &.hide {
            transform: translate(-75%, -15%);

            pointer-events: none;

            .btn {
                transform: rotate(180deg);
                pointer-events: all;
            }
        }

        .select-btn-group {
            display: flex;
            flex-direction: row;

            .btn {
                @include trou-prim-button(var.$trou-purple-primary, var.$trou-purple-hover, var.$trou-purple-active);

                min-width: auto;
                width: auto;
                height: auto;

                padding: 5px;
                font-size: 1.2rem;

                width: 1.5em;
            }

            select {
                @include trou-shadow;
                // width: clamp(200px, 80%, 300px);
                width: 75%;

                padding: 5px;

                font-size: 1.2rem;

                border: none;
                border-bottom: solid 2px var.$trou-blue-primary;
            }
        }

        .legend {
            display: flex;
            flex-direction: column;

            box-sizing: border-box;
            padding: 0.5em;

            gap: 1em;

            background: linear-gradient(90deg, var.$trou-blue-active 0%, rgba(238, 238, 238, 0) 90%);

            color: white;

            &::before {
                content: "Summary:";
                font-size: 1.6rem;
                font-weight: bold;
            }

            .legend-entry {
                display: flex;
                flex-direction: row;
                align-items: center;

                p {
                    display: inline;

                    height: 100%;

                    font-weight: bold;
                    font-size: 1.5rem;
                    margin: 0;
                }

                img {
                    width: 1.5rem;
                    aspect-ratio: 40/64;
                    margin-right: 8px;
                }
            }
        }
    }
}
