@import "../../shared/style/mixins.scss";

.wrapper {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 50px;

    padding-top: 20px;
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    gap: 10px;

    width: 100%;
    height: 100%;
}
