@use "../../../shared/style/variables.scss" as var;
@import "../../../shared/style/mixins.scss";
$radius: 25px;
$margin-header: 10px;

.nav-sticky-container {
    position: sticky;
    top: 0;

    z-index: 5;
}

.background {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    background-color: rgba(0, 0, 0, 0.082);

    z-index: 1;

    width: 100%;
    height: 100vh;

    transition: 0.8s;
    &.hidden {
        transform: translateX(-101%);
        background-color: transparent;
    }
}

.navigation-wrapper {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 75%;
    height: calc(100vh - var.$status-bar-height);

    padding-top: var.$status-bar-height;

    z-index: 2;

    background-color: white;

    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;

    box-shadow: var.$trou-shadow-grey 1px 2px 10px 1px;

    transition: 0.7s;

    overflow: hidden;

    &.hidden {
        transform: translateX(-101%);
        box-shadow: none;
    }

    &.shown {
        transform: translate(0);
    }

    > button {
        @include trou-prim-button(var.$trou-red-primary, var.$trou-red-hover, var.$trou-red-active);
        align-self: flex-end;

        margin-top: auto;

        width: 100%;
    }
}

.invisible-sidebar {
    position: absolute;
    top: 0;
    left: 0;

    height: calc(100vh - var.$status-bar-height);
    width: clamp(10px, 1.5%, 15px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 3px solid var.$trou-purple-primary;
    padding: 10px;
    padding-right: 20px;
}

.trou-logo {
    width: 60px;
    margin-right: $margin-header;
}

.button {
    @include menu-button;

    padding: 0;

    background-color: transparent;
    border: none;

    margin-left: $margin-header;
    font-size: 2rem;
    color: var.$trou-purple-primary;
}
