@use "../../style/variables.scss" as var;
@import "../../style/mixins.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    p {
        width: 100%;
        min-height: 30%;
        max-height: 100%;
        border: solid 1px grey;
        border-bottom: solid 2px var.$trou-blue-primary;
        border-radius: 10px;
        padding: 5px;
    }
}
