@use "../../../style/variables.scss" as var;
@import "../../../style/mixins.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 100%;
    width: 100%;

    h1 {
        font-size: 2.5rem;
        color: var.$trou-blue-primary;
        font-weight: bold;
    }

    h1,
    h2 {
        text-align: center;
    }

    .btn-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        width: 100%;

        button {
            @include trou-prim-button(var.$trou-purple-primary, var.$trou-purple-hover, var.$trou-purple-active);

            min-width: auto;
            max-width: 45%;
        }
    }
}
