@use "../../style/variables.scss" as var;
@import "../../style/mixins.scss";

:host {
    //THIS IS CRUCIAL FOR ANIMATION
    //DO NOT REMOVE!
    position: absolute;
    top: 0;

    z-index: 10;

    display: block;

    width: 100vw;
    height: 100vh;
}

.modal-wrapper {
    position: absolute;
    top: 0;

    display: block;

    width: 100vw;
    height: 100vh;
}

.modal-container {
    position: sticky;
    top: 200px;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;

    padding: 10px;

    width: clamp(300px, 90%, 400px);
    height: clamp(300px, 50%, 500px);

    background-color: white;

    border-bottom: solid 2px var.$trou-blue-primary;

    overflow-y: scroll;
    @include trou-shadow;
}
