@use "../../style/variables.scss" as var;
@import "../../style/mixins.scss";

:host {
    position: absolute;
    top: 0;

    display: block;

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
}

.wrapper {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;

    padding: 10px;

    width: 90%;
    height: 300px;

    background-color: white;

    border-bottom: solid 2px var.$trou-blue-primary;
    @include trou-shadow;
}
